#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 500px;
}

input {
  width: 100px;
  height: 20px;
}

.box {
  border: solid black 4px;
  width: 500px;
  height: 500px;
}

img {
  width: 500px;
  height: 500px;
}

.wrapper {
  display: flex;
  gap: 40px;
  color: rgb(148, 142, 142);
}

h1 {
  padding: 10px;
  margin: 0;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#text2 {
  margin-bottom: 40px;
}

button {
  
}
